@media screen and (max-width: 912px) {
    .about, .contacts {
        flex-wrap: wrap!important;
        justify-content: center!important;
    }
    
    .about-img {
        margin-top: 0px;
    }
    
    .cover-text-title {
        text-align: center;
    }

    .map {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }

    .map iframe {
        width: 100%;
        height: 500px;
    }

    .copyrights p {
        padding: 0;
        width: 80%;
    }

    .tablee {
        width: 70%;
    }

    .contacts-list {
        width: 70%;
    }
}

@media screen and (max-width: 630px) {
    .upper {
        flex-direction: column;
    }

    footer {
        height: max-content;
    }

    .tablee {
        width: 100%;
    }

    table {
        margin: auto;
    }

    table thead th {
        font-size: 20px;
        text-align: center;
    }

    .contact-line {
        flex-direction: column;
    }

    .contacts-list {
        height: max-content;
        gap: 20px;
    }

    .contact {
        text-align: center;
    }

    td[class='ge'] , td[class='en'] {
        text-align: right;
    }

    table thead th:last-child {
        text-align: right;
    }

    .about-txt p {
        width: 80%;
        margin: auto;
    }

    .cover-text-title {
        font-size: 60px!important;
    }

    .title-bck-txt {
        display: none;
    }

    .title-front-txt {
        text-align: center;
    }

    .title-front {
        padding: 0px;
    }

    #about {
        margin-top: 70px!important;
    }

    .product-card {
        width: 250px;
        height: 100px;
    }
    
    .title-area-footer {
        display: flex;
        gap: 10px;
    }

    .adjustment {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .map {
        width: 80%;
        margin: 50px auto 0px;
    }

    .contacts {
        margin-bottom: 100px!important;
    }
}